<section class="">
    <!-- Full View-->
    <section class="">
        <section class="mt-7 hidden lg:flex">
            <div class="border w-full rounded-xl border-black flex">
                <!-- Image -->
                <div class="w-[35%] flex lg:shrink-0">
                    <img src="../../assets/s1.png" alt="" class="rounded-l-xl" />
                </div>

                <!-- Middle -->
                <div class="text-xs w-[30%] py-3 px-3">
                    <div class="text-lg font-bold mb-2">Premium Sports Club</div>
                    <div class="">
                        <div>Phnom Penh Tmey, Khan Sen Sok</div>
                        <div>Map: https://goo.gl/maps/WYQn5</div>
                        <div>Tel: 066 858 687</div>
                    </div>

                    <div>
                        <button class="border border-[#E94560] px-6 py-1 mt-2 rounded-lg">
              Check Date & Time
            </button>
                    </div>
                </div>

                <!-- Right -->
                <div class="text-xs w-[30%] py-8 px-4 border-black border-l">
                    <div>18$ / 1hour</div>
                    <div class="flex">
                        <div>Coupon Code:</div>
                        <div class="bg-[#E94560] text-white">4K2019</div>
                    </div>
                    <div>2 hours + Discounts</div>
                    <div class="text-[#248634]">Free Cancelation within 1 hour</div>
                    <div class="border bg-[#E94560] text-white rounded-2xl text-center">
                        Book Now
                    </div>
                </div>
            </div>
        </section>

        <!-- Data Small -->
        <section class="mt-7 flex jusify-center lg:hidden">
            <div class="border rounded-xl border-black flex justify-center w-full">
                <!-- Left -->
                <div class="text-xs py-3 px-3">
                    <div class="text-lg font-bold mb-2">Premium Sports Club</div>
                    <div class="">
                        <div>Phnom Penh Tmey, Khan Sen Sok</div>
                        <div>Map: https://goo.gl/maps/WYQn5</div>
                        <div>Tel: 066 858 687</div>
                    </div>

                    <div>
                        <button class="border border-[#E94560] px-6 py-1 mt-2 rounded-lg">
              Check Date & Time
            </button>
                    </div>
                </div>

                <!-- Right with border-->
                <div class="text-xs py-8 px-4 border-black border-l">
                    <div>18$ / 1hour</div>
                    <div class="flex">
                        <div>Coupon Code:</div>
                        <div class="bg-[#E94560] text-white">4K2019</div>
                    </div>
                    <div>2 hours + Discounts</div>
                    <div class="text-[#248634]">Free Cancelation within 1 hour</div>
                    <div class="border bg-[#E94560] text-white rounded-2xl text-center">
                        Book Now
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>